<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>291569531533-sb9o3sglpcifb0suq7rf0f9r9cv6p12k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.291569531533-sb9o3sglpcifb0suq7rf0f9r9cv6p12k</string>
	<key>API_KEY</key>
	<string>AIzaSyAU46Zwc5jAh07aKjOhcm-hRX0mRbBSv4Y</string>
	<key>GCM_SENDER_ID</key>
	<string>291569531533</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.quizUfpr</string>
	<key>PROJECT_ID</key>
	<string>ufpr-42f40</string>
	<key>STORAGE_BUCKET</key>
	<string>ufpr-42f40.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:291569531533:ios:856b298e419263b482c0c4</string>
</dict>
</plist>